@using DCC.COLAB.Common.Entities;

@{
    List<Disciplina> listaDisciplinas = Convert.ChangeType(ViewBag.listaDisciplinas, typeof(List<Disciplina>));
    List<Usuario> listaProfessores = Convert.ChangeType(ViewBag.listaProfessores, typeof(List<Usuario>));

    List<Disciplina> listaEletivas = listaDisciplinas.Where(x => x.periodoRecomendado == 0).ToList();
    int qtdEletivas = listaEletivas.Count;
    int qtdProfessores = listaProfessores.Count;
}

<html>
    <body>
        <div>
            <div class="form-group" style="margin-top: 100px; margin-bottom: 20px;">

                <div class="row">
                    <div class="home-wall">
                        <img class="profile-img img-responsive" src="~/Content/img/dcccolab_logo.png" alt="DCCColab" style="width: 250px;">

                        <h3 style="font-family: cursive; text-align: center; padding-bottom: 20px;">
                            Já sabemos o que você procura, mas como você quer encontrar a informação?
                        </h3>

                        <div class="col-xs-6 text-right">
                            <button id="btnDisciplina" name="btnDisciplina" class="btn btn-primary">
                                Por Disciplina
                            </button>
                        </div>
                        <div class="col-xs-6 text-left">
                            <button id="btnProfessor" name="btnProfessor" class="btn btn-primary">
                                Por Professor
                            </button>
                        </div>
                    </div>
                </div>                
            </div>

            <div id="divHomeConteudo">
                <div id="divDisciplinas" class="collapse">
                    <div class="col-xs-12 text-center">
                        <div class="col-xs-6 text-right">
                            <h4 class="tituloCentralizado" id="titObrigatorias">
                                <a href="#" id="aObrigatorias">
                                    <label class="glyphicon glyphicon-chevron-up"></label>
                                Obrigatórias</a>
                            </h4>
                        </div>
                        <div class="col-xs-6 text-left">
                            <h4 class="tituloCentralizado" id="titEletivas">
                                <a href="#" id="aEletivas">
                                    <label class="glyphicon glyphicon-chevron-down"></label>
                                Eletivas</a>
                            </h4>
                        </div>
                    </div>
                    
                    <div id="disciplinasObrigatorias" class="collapse">
                    @for (int i = 1; i < 9; i++)
                    {
                        if (i % 2 == 1)
                        { 
                            @:<div class="row">
                                <div class="navPeriodoImpar text-right col-xs-12 col-sm-6">
                                    <h4>@(i)º Período</h4>
                                    <ul>
                                    @foreach (Disciplina disciplina in listaDisciplinas)
                                    {
                                        if (disciplina.periodoRecomendado == i)
                                        {
                                            <li><a href="~/Home/Disciplina/@disciplina.id" title="@disciplina.qtdConteudo @(disciplina.qtdConteudo > 1 ? "conteúdos" : "conteúdo")">@disciplina.nome <span class="badge">@disciplina.qtdConteudo</span></a></li>
                                        }
                                    }
                                    </ul>
                                </div>
                        }
                        else
                        {
                                <div class="navPeriodoPar text-left col-xs-12 col-sm-6">
                                    <h4>@(i)º Período</h4>
                                    <ul>
                                    @foreach (Disciplina disciplina in listaDisciplinas)
                                    {
                                        if (disciplina.periodoRecomendado == i)
                                        {
                                            <li><a href="~/Home/Disciplina/@disciplina.id" title="@disciplina.qtdConteudo @(disciplina.qtdConteudo > 1 ? "conteúdos" : "conteúdo")"><span class="badge">@disciplina.qtdConteudo</span> @disciplina.nome</a></li>
                                        }
                                    }
                                    </ul>
                                </div>
                            @:</div>
                        }
                    }
                    </div>
                    
                    <div id="disciplinasEletivas" class="collapse">
                        <div class="col-md-12 text-center">
                            <nav class="navPeriodoImpar col-sm-6 text-right">
                                <ul>
                                @for (int i = 0; i < qtdEletivas / 2; i++)
                                {
                                    <li><a href="~/Home/Disciplina/@listaEletivas[i].id" title="@listaEletivas[i].qtdConteudo @(listaEletivas[i].qtdConteudo > 1 ? "conteúdos" : "conteúdo")">@listaEletivas[i].nome <span class="badge">@listaEletivas[i].qtdConteudo</span></a></li>
                                }
                                </ul>
                            </nav>
                            <nav class="navPeriodoPar col-sm-6 text-left">
                                <ul>
                                @for (int i = qtdEletivas / 2; i < qtdEletivas; i++)
                                {
                                    <li><a href="~/Home/Disciplina/@listaEletivas[i].id" title="@listaEletivas[i].qtdConteudo @(listaEletivas[i].qtdConteudo > 1 ? "conteúdos" : "conteúdo")"><span class="badge">@listaEletivas[i].qtdConteudo</span> @listaEletivas[i].nome</a></li>
                                }
                                </ul>
                            </nav>	
                        </div>
                    </div>
                </div>
                <div id="divProfessores" class="collapse">
                    <div class="col-xs-12 text-center">
                        <h3 class="tituloCentralizado">Professores</h3>
                        <nav class="navPeriodoImpar col-xs-6 text-right">
                            <ul>
                            @for (int i = 0; i < qtdProfessores / 2; i++)
                            {
                                <li><a href="~/Home/Professor/@listaProfessores[i].id" title="@listaProfessores[i].qtdConteudo @(listaProfessores[i].qtdConteudo > 1 ? "conteúdos" : "conteúdo")">@listaProfessores[i].nome <span class="badge">@listaProfessores[i].qtdConteudo</span></a></li>
                            }
                            </ul>
                        </nav>
                        <nav class="navPeriodoPar col-xs-6 text-left">
                            <ul>
                            @for (int i = qtdProfessores / 2; i < qtdProfessores; i++)
                            {
                                <li><a href="~/Home/Professor/@listaProfessores[i].id" title="@listaProfessores[i].qtdConteudo @(listaProfessores[i].qtdConteudo > 1 ? "conteúdos" : "conteúdo")"><span class="badge">@listaProfessores[i].qtdConteudo</span> @listaProfessores[i].nome</a></li>
                            }
                            </ul>
                        </nav>	
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>


<script>
    $(document).ready(function () {
        $('#divDisciplinas').collapse({
            toggle: false
        })
        $('#disciplinasObrigatorias').collapse({
            toggle: true
        })
        $('#disciplinasEletivas').collapse({
            toggle: false
        })
        $('#divProfessores').collapse({
            toggle: false
        })
    });

    $('#btnDisciplina').click(function () {
        $('#divDisciplinas').collapse('toggle');
        $('#divProfessores').collapse('hide');
    });

    $('#titObrigatorias').click(function () {
        $('#disciplinasObrigatorias').collapse('show');
        $('#titObrigatorias label').addClass('glyphicon-chevron-up');
        $('#titObrigatorias label').removeClass('glyphicon-chevron-down');
        $('#disciplinasEletivas').collapse('hide');
        $('#titEletivas label').addClass('glyphicon-chevron-down');
        $('#titEletivas label').removeClass('glyphicon-chevron-up');
    });

    $('#titEletivas').click(function () {
        $('#disciplinasObrigatorias').collapse('hide');
        $('#titObrigatorias label').addClass('glyphicon-chevron-down');
        $('#titObrigatorias label').removeClass('glyphicon-chevron-up');
        $('#disciplinasEletivas').collapse('show');
        $('#titEletivas label').addClass('glyphicon-chevron-up');
        $('#titEletivas label').removeClass('glyphicon-chevron-down');
    });

    $('#btnProfessor').click(function () {
        $('#divDisciplinas').collapse('hide');
        $('#divProfessores').collapse('toggle');
    });

</script>