@using DCC.COLAB.Common.AuxiliarEntities;
@using DCC.COLAB.Common.Entities;

@{
    Usuario professor = Convert.ChangeType(ViewBag.professor, typeof(Usuario));
    List<Disciplina> listaDisciplinas = Convert.ChangeType(ViewBag.listaDisciplinas, typeof(List<Disciplina>));
    List<Tema> listaTemas = Convert.ChangeType(ViewBag.listaTemas, typeof(List<Tema>));
    List<Prova> listaProvas = Convert.ChangeType(ViewBag.listaProvas, typeof(List<Prova>));
    List<TipoProva> listaTipos = Convert.ChangeType(ViewBag.listaTipos, typeof(List<TipoProva>));
}

<html>
    <body>
        <div>
            <h3>@professor.nome</h3>

            <div class="form-group"></div>
            
            <div class="col-md-3 text-left">
                <h4>Seleção de Disciplinas</h4>
                @if (listaDisciplinas.Count == 0)
                { 
                    <div class="noResults">
                        <h4 style="color:red">Não há disciplinas cadastradas para este professor.</h4>
                    </div>
                }
                else
                {
                    <div id="divDisciplinas" class="list-group">
                    @for (int i = 0; i < listaDisciplinas.Count; i++)
                    {
                        <a href="#" codigo="@listaDisciplinas[i].id" class="list-group-item @(i == 0 ? "active" : "")">@listaDisciplinas[i].nome</a>
                    }
                    </div>
                }
            </div>

            <div id="divProvas" class="col-md-3 text-left">
                @if (listaProvas.Count == 0 && listaDisciplinas.Count > 0)
                { 
                    <div class="noResults">
                        <h4 style="color:red">Não há provas cadastradas para esta disciplina com os temas selecionados.</h4>
                    </div>
                }
                else
                {
                    foreach (TipoProva tipo in listaTipos)
                    { 
                        <div class="divTipoProva">
                            <h4>@tipo.nome</h4>
                            <div class="list-group">
                            @for (int i = 0; i < listaProvas.Count; i++)
                            {
                                if (listaProvas[i].tipo.id == tipo.id)
                                { 
                                    <a href="~/Home/Prova/@listaProvas[i].id" class="list-group-item">
                                    @if (listaProvas[i].avaliacao > 0)
                                    {
                                        <span class="badge">
                                        @for (int j = 1; j <= listaProvas[i].avaliacao; j++)
                                        {
                                            <img src="~/Content/img/ministar.png" title="@j"/>
                                        }
                                        </span>
                                    }
                                    @if (listaProvas[i].recomendadoMonitor)
                                    {
                                        <span class="badge">
                                            <img src="~/Content/img/minimonitor.png" title="Monitor Recomenda"/>
                                        </span>
                                    }
                                    @if (listaProvas[i].recomendadoProfessor)
                                    {
                                        <span class="badge">
                                            <img src="~/Content/img/miniprofessor.png" title="Professor Recomenda"/>
                                        </span>
                                    }
                                        @listaProvas[i].turma.periodo.tableString
                                    </a>
                                }
                            }
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-md-6 text-center">
                <div>
                    <h4>Filtro de Temas</h4>
                    <div id="divTemas" class="list-group" idTema="">
                        <a href="#" class="list-group-item active">
                            <span class="badge">@listaProvas.Count</span>
                            TODOS
                        </a>
                    @for (int i = 0; i < listaTemas.Count; i++)
                    {
                        <a href="#" class="list-group-item" idTema="@listaTemas[i].id">
                            <span class="badge">@listaTemas[i].qtdProvas</span>
                            @listaTemas[i].nome
                        </a>
                    }
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

<script>
    var listaTiposProva = @Html.Raw(Json.Encode(listaTipos));

    $(document).ready(function () {
        $('.divTipoProva').each(function () {
            var count = $(this).find('.list-group-item').length;
            if (count == 0) {
                $(this).remove();
            }
        });
    });

    $('#divDisciplinas .list-group-item').click(function () {
        $('#divDisciplinas .list-group-item.active').removeClass('active');
        $(this).addClass('active');
        var codigoDisciplina = parseInt($(this).attr('codigo'));
        SelecionarDadosDisciplina(codigoDisciplina);
    });

    $('#divTemas .list-group-item').click(function () {
        $('#divTemas .list-group-item.active').removeClass('active');
        $(this).addClass('active');
        var idTema = $(this).attr('idTema');
        SelecionarDadosTema(idTema);
    });

    var SelecionarDadosTema = function (id) {
        var codigoDisciplina = parseInt($('#divDisciplinas .list-group-item.active').attr('codigo'));
        SRV.ChamarAjax('@Url.Action("SelecionarDadosTema", "Home")', { idTema: id, idProfessor:@professor.id, idDisciplina: codigoDisciplina }, SelecionarDadosTema_cb);
    };

    var SelecionarDadosTema_cb = function (json) {
        AtualizarCampoProvas(json);
    };

    var SelecionarDadosDisciplina = function (id) {
        SRV.ChamarAjax('@Url.Action("SelecionarDadosDisciplina", "Home")', { idDisciplina: id, idProfessor: @professor.id }, SelecionarDadosDisciplina_cb);
    };

    var SelecionarDadosDisciplina_cb = function (json) {
        AtualizarCampoTemas(json.listaTemas, json.listaProvas.length);
        AtualizarCampoProvas(json.listaProvas);
    };

    var AtualizarCampoTemas = function (listaTemas, qtdProvas) {
        $('#divTemas .list-group-item').remove();

        var span = $('<span>').addClass('badge').text(qtdProvas);
        var a = $('<a>').prop('href', '#').addClass('list-group-item active').attr('idTema', '').text('TODOS');
        a.append(span);
        $('#divTemas').append(a);

        if (listaTemas) {
            for (var i = 0; i < listaTemas.length; i++) {
                span = $('<span>').addClass('badge').text(listaTemas[i].qtdProvas);
                a = $('<a>').prop('href', '#').addClass('list-group-item').attr('idTema', listaTemas[i].id).text(listaTemas[i].nome);
                a.append(span);
                $('#divTemas').append(a);
            }
        }

        $('#divTemas .list-group-item').click(function () {
            $('#divTemas .list-group-item.active').removeClass('active');
            $(this).addClass('active');
            var idTema = $(this).attr('idTema');
            SelecionarDadosTema(idTema);
        });
    };

    var AtualizarCampoProvas = function (listaProvas) {
        $('#divProvas .divTipoProva').remove();
        $('#divProvas .noResults').remove();

        if (listaProvas.length == 0) {
            var divNoResults = $('<div>').addClass('noResults');
            var h4 = $('<h4>').css('color', 'red').text('Não há provas cadastradas para esta disciplina com os temas selecionados.');
            divNoResults.append(h4);
            $('#divProvas').append(divNoResults);
        }
        else {
            for (var i = 0; i < listaTiposProva.length; i++) {
                var divTipo = $('<div>').addClass('divTipoProva');
                var h4 = $('<h4>').text(listaTiposProva[i].nome);
                divTipo.append(h4);

                var divGrupo = $('<div>').addClass('list-group');

                for (var j = 0; j < listaProvas.length; j++) {
                    if (listaProvas[j].tipo.id == listaTiposProva[i].id) {
                        var a = $('<a>').prop('href', '/Home/Prova/' + listaProvas[j].id).addClass('list-group-item').text(listaProvas[j].turma.periodo.tableString);

                        if (listaProvas[j].avaliacao > 0) {
                            var spanBadge = $('<span>').addClass('badge');
                            for (var k = 1; k < listaProvas[j].avaliacao; k++) {
                                var img = $('<img>').prop('src', '/Content/img/ministar.png').prop('title', k);
                                spanBadge.append(img);
                            }
                            a.append(spanBadge);
                        }
                        if (listaProvas[j].recomendadoMonitor) {
                            var spanBadge = $('<span>').addClass('badge');
                            var img = $('<img>').prop('src', '/Content/img/minimonitor.png').prop('title', 'Monitor Recomenda');
                            spanBadge.append(img);
                            a.append(spanBadge);
                        }
                        if (listaProvas[j].recomendadoProfessor) {
                            var spanBadge = $('<span>').addClass('badge');
                            var img = $('<img>').prop('src', '/Content/img/miniprofessor.png').prop('title', 'Professor Recomenda');
                            spanBadge.append(img);
                            a.append(spanBadge);
                        }

                        divGrupo.append(a);
                    }
                }

                divTipo.append(divGrupo);

                var itensAdicionados = $(divGrupo).find('.list-group-item').length;
                if (itensAdicionados > 0) {
                    $('#divProvas').append(divTipo);
                }
            }
        }
    };

</script>