@using DCC.COLAB.Common.Entities;

@{
    Prova prova = Convert.ChangeType(ViewBag.prova, typeof(Prova));
}

<html>
    <body>
        <div>
            <div class="col-md-7 text-center">
                <h3>@prova.tipo.nome - @prova.turma.periodo.tableString - @prova.turma.disciplina.nome</h3>
                <h4>@prova.turma.listaProfessoresString</h4>

                <div class="form-group"></div>

                <div class="col-xs-12 text-right" style="padding-bottom:10px;">
                    <div id="selos" class="" >
                    @if (prova.recomendadoProfessor)
                    {
                        <img src="~/Content/img/professor.png" alt="Professor Recomenda" title="Professor Recomenda"/>
                    }
                    @if (prova.recomendadoMonitor)
                    {
                        <img src="~/Content/img/monitor.png" alt="Monitor Recomenda" title="Monitor Recomenda"/>
                    }
                        &nbsp; &nbsp;
                    @for (int i = 1; i <= prova.avaliacao; i++)
                    {
                        <a href="#" class="starRating"><img src="~/Content/img/star.png" title="@i"/></a>
                    }
                    @for (int i = prova.avaliacao + 1; i <= 5; i++)
                    {
                        <a href="#" class="starRating"><img src="~/Content/img/nostar.png" title="@i"/></a>
                    }
                        &nbsp;
                        <a href="#" ><img src="~/Content/img/red_flag.png" alt="Denunciar" height="22" width="22" style="vertical-align:bottom;"/><span style="vertical-align:bottom; color:#EF583F;">Denuncie</span></a>
                    </div>
                </div>

                <div id="provapdf" class="col-xs-12"></div>
                <p style="font-size:18px; margin-top:10px;">Não consegue visualizar a prova? <a href="http://dcccolab.gear.host/Prova/VisualizarPDF/@prova.id">Clique aqui</a> para baixar o arquivo .pdf</p>
            </div>

            <div class="col-md-5 text-center" style="margin-top:20px;">
                <div class="row">
                    <h4>Temas Associados</h4>
                    @if (prova.temasAssociados.Count == 0)
                    { 
                        <div class="noResults">
                            <h5 style="color:grey;">Não há temas cadastrados para esta prova.</h5>
                        </div>
                    }
                    else
                    {
                        <div id="divTemas">
                        @for (int i = 0; i < prova.temasAssociados.Count; i++)
                        {
                            <span class="badge">
                                @prova.temasAssociados[i].nome
                            </span>
                        }
                        </div>
                    }
                </div>
                <h4>Dúvidas e Discussões</h4>
                <div id="comentarios" class="row">
                    <!-- essa é a linha da magia. tem que rolar aqui um tratamento pra que ele coloque sempre um endereço único
                    é esse endereço único que é puxado para carregar os comentários do facebook p/ cada pag -->
                    <div class="fb-comments" data-href="www.dcccolab.gear.host/Home/Prova/@prova.id" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function () {
    });

    window.onload = function (){
        var caminho = {
            url: '@Url.Action("VisualizarPDF", "Prova")' + '/' + @prova.id,
            width: "100%",
            height: "700px"
        };
        var myPDF = new PDFObject(caminho).embed("provapdf");
    };
  
</script>