@using DCC.COLAB.Common.Entities;

@{
    Prova prova = Convert.ChangeType(ViewBag.prova, typeof(Prova));
}

<html>
    <body>
        <div>
            <div class="col-xs-12 col-md-6 text-center">
                <h3>@prova.tipo.nome - @prova.titulo</h3>
                <h4>@prova.turma.periodo.tableString - @prova.turma.disciplina.nome</h4>
                <h4>@prova.turma.listaProfessoresString</h4>

                <div class="form-group"></div>

                <div class="col-xs-12 text-right" style="padding-bottom:10px;">
                    <div id="selos" class="" >
                        <img src="~/Content/img/professor.png" alt="Professor Recomenda"/>
                        <img src="~/Content/img/monitor.png" alt="Monitor Recomenda"/>
                        &nbsp; &nbsp;
                        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="1"/></a>
                        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="2"/></a>
                        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="3"/></a>
                        <a href="#" class="starRating"><img src="~/Content/img/star.png" alt="4"/></a>
                        <a href="#" class="starRating"><img src="~/Content/img/nostar.png" alt="5"/></a>
                        &nbsp;
                        <a href="#" ><img src="~/Content/img/red_flag.png" alt="Denunciar" height="22" width="22" style="vertical-align:bottom; margin-bottom:3px;"/></a>
                    </div>
                </div>

                <div id="provapdf" class="col-xs-12"></div>
            </div>

            <div id="comentarios" class="col-xs-12 col-md-6">
                <!-- essa é a linha da magia. tem que rolar aqui um tratamento pra que ele coloque sempre um endereço único
                é esse endereço único que é puxado para carregar os comentários do facebook p/ cada pag -->
                <div class="fb-comments" data-href="www.dcccolab.gear.host/Home/Prova/@prova.id" data-numposts="5"></div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function () {
    });

    window.onload = function (){
        var caminho = {
            url: '@Url.Action("VisualizarPDF", "Prova")' + '/' + 1,
            width: "100%",
            height: "700px"
        };
        var myPDF = new PDFObject(caminho).embed("provapdf");
    };
  
</script>