@using DCC.COLAB.Common.AuxiliarEntities;
@using DCC.COLAB.Common.Entities;
@using DCC.COLAB.Web.Util;

@{
    Prova prova = Convert.ChangeType(ViewBag.prova, typeof(Prova));
}

<html>
    <body>
        <div>
            <div class="col-md-7 text-center">
                <h3>@prova.tipo.nome - @prova.turma.periodo.tableString - @prova.turma.disciplina.nome</h3>
                <h4>@prova.turma.listaProfessoresString</h4>

                <div class="form-group"></div>

                <div class="col-xs-12 text-right"">
                    <div id="usuario-upload" class="col-xs-6 text-left">
                        Inserido por @prova.usuario.nome
                    </div>

                    <div id="selos" class="col-xs-6 text-right" style="bottom:5px;">
                    @if (prova.recomendadoProfessor)
                    {
                        <img src="~/Content/img/professor.png" alt="Professor Recomenda" title="Professor Recomenda"/>
                    }
                    @if (prova.recomendadoMonitor)
                    {
                        <img src="~/Content/img/monitor.png" alt="Monitor Recomenda" title="Monitor Recomenda"/>
                    }
                        &nbsp; &nbsp;
                    @for (int i = 1; i <= prova.avaliacao; i++)
                    {
                        <a href="#" class="starRatingTotal"><img src="~/Content/img/star.png" title="@i"/></a>
                    }
                    @for (int i = prova.avaliacao + 1; i <= 5; i++)
                    {
                        <a href="#" class="starRatingTotal"><img src="~/Content/img/nostar.png" title="@i"/></a>
                    }
                        &nbsp;
                        <a href="#"><img src="/Content/img/red_flag.png" alt="Notificar" height="22" width="22" style="vertical-align:bottom;"/></a>
                    </div>
                </div>

                <div id="provapdf" class="col-xs-12"></div>
                <p style="font-size:18px; margin-top:10px;">Não consegue visualizar a prova? <a href="http://dcccolab.gear.host/Prova/VisualizarPDF/@prova.id">Clique aqui</a> para baixar o arquivo .pdf</p>
            </div>

            <div class="col-md-5 text-center" style="margin-top:20px;">
                <div class="row">
                    <h4>Temas Associados</h4>
                    @if (prova.temasAssociados.Count == 0)
                    { 
                        <div class="noResults">
                            <h5 style="color:grey;">Não há temas cadastrados para esta prova.</h5>
                        </div>
                    }
                    else
                    {
                        <div id="divTemas">
                        @for (int i = 0; i < prova.temasAssociados.Count; i++)
                        {
                            <span class="badge">
                                @prova.temasAssociados[i].nome
                            </span>
                        }
                        </div>
                    }
                </div>
                <h4>Dúvidas e Discussões</h4>
                <div id="comentarios" class="row">
                    <!-- essa é a linha da magia. tem que rolar aqui um tratamento pra que ele coloque sempre um endereço único
                    é esse endereço único que é puxado para carregar os comentários do facebook p/ cada pag -->
                    <div class="fb-comments" data-href="www.dcccolab.gear.host/Home/Prova/@prova.id" data-numposts="5"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Avalie esta prova</h4>
                    </div>
                    <div class="modal-body" style="overflow-y: inherit !important;">
                        <center>
                            <input type="hidden" id="hdIdProva" value="@prova.id" />

                            <label>Classifique esse Material de Apoio:</label>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" class="starRating" ref="5" refText="Esse conteúdo é extremamente útil e importante para o estudo da disciplina.">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" class="starRating" ref="4" refText="Esse conteúdo geralmente é muito útil para o estudo da disciplina.">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" class="starRating" ref="3" refText="Esse conteúdo é útil para o estudo da disciplina.">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" class="starRating" ref="2" refText="Esse conteúdo pode vir a ser útil para o estudo da disciplina.">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" class="starRating" ref="1" refText="Esse conteúdo não é útil para o estudo da disciplina.">1 star</label>
                            </div>

                            <div id="ratingText" class="col-md-12">
                                <b></b>
                                <span></span>
                            </div>

                            <br /><br />
                            <div style="width:80%">
                                <b>Importante:</b> 
                                Para problemas relacionados a qualidade de visualização dos arquivos ou conteúdo impróprio, 
                                <a href="#" onclick="ShowDivDenuncie()" style="color:red;font-weight:bold">notifique aqui</a>.
                            </div>

                            <div id="divNotificacao" style="margin-top: 15px; border-top: dotted 1px gray; padding-top: 15px;">
                                <label>
                                <img src="/Content/img/red_flag.png" />
                                <font color="red"> Notifique sobre esse conteúdo:</font></label>
                                <br />
                                <label>Qual o motivo da sua notificação?</label>
                                <br />
                                
                                <div class="text-left" style="margin:0 5% 0 5%">
                                    <input type="radio" name="notificacao" value="Conteúdo inadequado" > O conteúdo é inadequado. Ex: Arquivo ou abordagem indevida.<br>
                                    <input type="radio" name="notificacao" value="Má qualidade"> Má qualidade do arquivo. Ex: Difícil leitura.<br>
                                    <input type="radio" name="notificacao" value="Cadastro incorreto"> Conteúdo cadastrado incorretamente. Ex: Professor/Matéria errada.<br>
                                    <input type="radio" name="notificacao" id="rad_outro" value="outro"> Outro
                                    <textarea name="txtOutro" id="txtOutro" style="width:100%" placeholder="Digite o motivo da sua notificação aqui..." ></textarea>
                                </div>

                                <button id="btnNotificacao" name="btnNotificacao" class="btn btn-primary">Enviar</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

<script>
    $(document).ready(function () {
    });

    var avaliacaoLogado = @prova.avaliacaoLogado;
    var avaliacaoLogadoTemp = 0;

    window.onload = function (){
        var caminho = {
            url: '@Url.Action("VisualizarPDF", "Prova")' + '/' + @prova.id,
            width: "100%",
            height: "700px"
        };
        var myPDF = new PDFObject(caminho).embed("provapdf");
    };

    $('#selos').click(function () {
        @if(SessaoUtil.UsuarioEstaAutenticado)
        {
            <text>
                ExibirModalRating();
            </text>
        }
    });

    $('#btnNotificacao').click(function () {
        if ($('input[name=notificacao]:checked') && $('#txtOutro').val() != '') {
            var params = {
                'descricao': $('#txtOutro').val(),
                'tipoConteudo': @((int)EnumConteudo.prova),
                'idConteudo': $('#hdIdProva').val()
            }

            SRV.ChamarAjax('@Url.Action("Salvar", "Notificacao")', params, SalvarNotificacao_cb);
        }
        else {
            Msg.error("Você precisa especificar um motivo para enviar a notificação.", 3000);
        }
    });

    var SalvarNotificacao_cb = function (json) {
        Msg.success("Notificação enviada com sucesso.", 3000);
    };

    var ExibirModalRating = function () {
        $('input[name=rating]').prop('checked', false);
        
        if (avaliacaoLogado > 0) {
            $('input[name=rating][value=' + avaliacaoLogado + ']').prop('checked', true);

            var idVal = 'star' + avaliacaoLogado;
            var ref = $("label[for='"+idVal+"']").attr('ref');
            var refText = $("label[for='"+idVal+"']").attr('refText');

            $('#ratingText b').text(ref + ' de 5:');
            $('#ratingText span').text(refText);
        }

        $('#divNotificacao').hide();
        $('.ratingText').hide();
        $("#txtOutro").hide();

        $('#ratingModal').modal();
    };

    var ShowDivDenuncie = function() {
        $('#divNotificacao').toggle();
    };

    $('#ratingModal').on('hidden.bs.modal', function () {
        $('#divNotificacao').hide();
    });

    $(".starRating").mouseenter(function(){
        var ref = parseInt($(this).attr('ref'));
        var refText = $(this).attr('refText');
        
        $('#ratingText b').text(ref + ' de 5:');
        $('#ratingText span').text(refText);
    });

    $(".starRating").mouseleave(function(){
        if ($('input[name=rating]:checked').length > 0) {
            var idVal = $('input[name=rating]:checked').eq(0).attr("id");
            var ref = $("label[for='"+idVal+"']").attr('ref');
            var refText = $("label[for='"+idVal+"']").attr('refText');

            $('#ratingText b').text(ref + ' de 5:');
            $('#ratingText span').text(refText);
        }
        else {
            $('#ratingText b').text('');
            $('#ratingText span').text('');
        }
    });

    $(".starRating").click(function(){
        var aval = {
            id: parseInt($('#hdIdProva').val()),
            valor: $(this).attr('ref')
        };
        avaliacaoLogadoTemp = $(this).attr('ref');
        SRV.ChamarAjax('@Url.Action("SalvarAvaliacao", "Prova")', { registro: aval }, SalvarRating_cb);
    });

    var SalvarRating_cb = function() {
        Msg.success("Avaliação enviada com sucesso.", 3000);
        avaliacaoLogado = avaliacaoLogadoTemp;
    };

    $('#rad_outro').click(function(){
        $("#txtOutro").val('');
        $("#txtOutro").slideDown();
    });

    $('input[name=notificacao]').click(function(){
        var valueInput = $('input[name=notificacao]').val();

        if (!$('#rad_outro').prop("checked")) {
            $("#txtOutro").slideUp();
            setTimeout(function(){
                if (!$('#rad_outro').prop("checked")) {
                    $("#txtOutro").val(valueInput);
                }
            }, 1000);
        }
    });

    $("#txtOutro").focusin(function() {
        $('#rad_outro').prop("checked", true);
    });
  
</script>