@using DCC.COLAB.Common.Entities;

@{
    List<PerfilAcesso> listaPerfisAcesso = Convert.ChangeType(ViewBag.listaPerfisAcesso, typeof(List<PerfilAcesso>));
}

<div>
    <legend>Usuários - Consulta</legend>

    <table id="tabelaUsuarios" class="table hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil de Acesso</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="form-group">
        <div>
            <button id="btnNovo" name="btnNovo" class="btn btn-primary">Novo usuário</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cadastroDeUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalUsuarioLabel"></h4>
            </div>
            <div class="modal-body" style="overflow-y: inherit !important;">
                <form>
                    <input type="hidden" id="hdIdUsuario" value="" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtNome" class="control-label">Nome:</label>
                                <input id="txtNome" name="txtNome" type="text" placeholder="Nome completo do usuário" class="form-control input-md" required value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtEmail" class="control-label">E-mail:</label>
                                <input id="txtEmail" name="txtEmail" type="text" placeholder="Endereço eletrônico do usuário" class="form-control input-md" required value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="selectPerfilAcesso" class="control-label">Perfil de acesso:</label>
                                <select id="selectPerfilAcesso" class="form-control input-md" required>
                                    <option value="0">Selecione um Perfil de Acesso</option>
                                    @foreach (PerfilAcesso perfilacesso in listaPerfisAcesso) {
                                        <option value="@perfilacesso.id">@perfilacesso.nome</option>
                                    }                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="divSenha">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtSenha" class="control-label">Senha:</label>
                                    <input id="txtSenha" name="txtSenha" maxlength="20" type="password" placeholder="Digite a senha para o usuário" class="form-control input-md" required value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtConfirmaSenha" class="control-label">Confirme a senha:</label>
                                    <input id="txtConfirmaSenha" name="txtConfirmaSenha" maxlength="20" type="password" placeholder="Confirme a senha" class="form-control input-md" required value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="alteraSenha">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary pull-right" id="btnAlteraSenha">Alterar a senha do usuário</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-warning" id="btnAbreEdicaoSenha"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar Senha</button>
                <button type="button" class="btn btn-success" id="btnSalvar">Salvar usuário</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        var CarregarUsuarioParaEdicao = function (idUsuario) {
            SRV.ChamarAjax('@Url.Action("ObterUsuario", "Usuario")', { id: idUsuario }, CarregarUsuarioParaEdicao_cb);
        };

        var CarregarUsuarioParaEdicao_cb = function (json) {
            $('#modalUsuarioLabel').text('Editar Usuário - ' + json.nome);
            $("#hdIdUsuario").val(json.id);
            $('#txtNome').val(json.nome);
            $('#txtEmail').val(json.email);
            $('#txtSenha').val('');
            $('#txtConfirmaSenha').val('');
            $("#selectPerfilAcesso").val(json.perfilAcesso.id);

            $('#btnAbreEdicaoSenha').show();
            $('#divSenha').hide();

            $('#cadastroDeUsuario').modal();
        };

        $('#btnAlteraSenha').click(function () {
            var id = parseInt($("#hdIdUsuario").val());

            if ($('#txtSenha').val() != '' && $('#txtSenha').val() == $('#txtConfirmaSenha').val()) {
                var senha = $('#txtSenha').val();
                var params = {
                    'id': id,
                    'senha': senha
                }
                SRV.ChamarAjax('@Url.Action("AtualizarSenha", "Usuario")', params, AlteraSenha_cb);
            } else {
                Msg.error('Cheque o preenchimento dos campos e certifique-se de que a confirmação de senha esteja correta', 4000);
            }
        });

        var AlteraSenha_cb = function (response) {
            $('#divSenha').hide();
            $('#txtSenha').val('');
            $('#txtConfirmaSenha').val('');
            Msg.success('Senha alterada com sucesso.', 5000);
        };

        $('#btnSalvar').click(function () {
            var id = parseInt($("#hdIdUsuario").val());
            if (id == 0) {
                SalvarInsercao();
            }
            else {
                SalvarEdicao(id);
            }
        });

        var SalvarEdicao = function (id) {
            var nome = $.trim($('#txtNome').val());
            var email = $.trim($('#txtEmail').val());
            var perfilAcesso = parseInt($('#selectPerfilAcesso').val());

            if (!nome) {
                Msg.error('O campo "Nome" é obrigatório. Favor verificar o preenchimento do mesmo.', 4000);
            }
            else if (!email) {
                Msg.error('O campo "E-mail" é obrigatório. Favor verificar o preenchimento do mesmo.', 4000);
            }
            else if (perfilAcesso == 0) {
                Msg.error('O campo "Perfil de Acesso" é obrigatório. Favor verificar a seleção do mesmo.', 4000);
            }
            else {
                var params = {
                    'id': id,
                    'nome': nome,
                    'email': email,
                    'perfilAcesso': { 'id': perfilAcesso, 'nome': $('#selectPerfilAcesso option:selected').text() }
                }

                SRV.ChamarAjax('@Url.Action("Salvar", "Usuario")', params, Salvar_cb);
            }
        };

        $('#btnAbreEdicaoSenha').click(function () {
            $('#divSenha').show();
        });

        var ExcluirUsuario = function (idUsuario) {
            $.confirm({
                title: "Confirmação",
                text: "Deseja realmente excluir este usuário?",
                confirm: function () {
                    ExcluirUsuarioAjax(idUsuario);
                },
                cancel: function () {
                    // nothing to do
                },
                confirmButton: "Sim",
                cancelButton: "Não",
                post: true
            });
        };

        var ExcluirUsuarioAjax = function (id) {
            SRV.ChamarAjax('@Url.Action("Excluir", "Usuario")', { id: id }, SucessoExcluir_cb);
        };

        var SucessoExcluir_cb = function (json) {
            Msg.success("Exclusão realizada com sucesso.", 3000);
            AtualizarListagem();
        };

        var AtualizarListagem = function () {
            $('#tabelaUsuarios').dataTable().fnDraw(false);
        };

        var InicializarListagem = function () {
            $('#tabelaUsuarios').dataTable({
                columns: [
                    { "data": "id", "name": "U.id_usuario" },
                    { "data": "nome", "name": "U.nm_Usuario" },
                    { "data": "email", "name": "U.email" },
                    { "data": "perfilAcesso.nome", "name": "PA.nm_Perfil_Acesso" },
                    { "data": "" }
                ],
                columnDefs: [
                    { targets: 0, visible: false, orderable: false, searchable: false },
                    {
                        targets: 4, orderable: false, searchable: false, width: "60px", sClass: "alignCenter", render: function (data, type, row) {
                            var acoes = "";
                            acoes += "<a href='#' onClick='CarregarUsuarioParaEdicao(" + row["id"] + ")'><img width='15px' title='editar' alt='Editar' src='/../Content/img/ic_editar.png' class='rowEditIcon'/></a>";
                            acoes += "&nbsp;&nbsp;";
                            acoes += "<a href='#' onClick='ExcluirUsuario(" + row["id"] + ")'><img width='15px' title='excluir' alt='Excluir' src='/../Content/img/bt_excluir.gif' class='rowDeleteIcon' id='" + row["id"] + "'/></a>";
                            return acoes;
                        }
                    },
                ],
                language: { url: "/../Content/dataTable_pt_BR.js", searchPlaceholder: "nome" },
                processing: true,
                serverSide: true,
                order: [[1, "asc"]],
                ajax: {
                    url: "@Url.Action("ListarUsuarios", "Usuario")",
                    async: false,
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        return COLAB.ObterFiltroBaseDataTable(d);
                    }
                }
            });
        };

        $('#btnNovo').click(function () {
            $('#modalUsuarioLabel').text('Cadastrar Novo Usuário');
            $('#hdIdUsuario').val(0);
            $('#txtNome').val('');
            $('#txtEmail').val('');
            $('#txtSenha').val('');
            $('#txtConfirmaSenha').val('');
            $('#selectPerfilAcesso').val(0);

            $('#btnAbreEdicaoSenha').hide();
            $('#divSenha').show();
            $('#alteraSenha').hide();

            $('#cadastroDeUsuario').modal();
        });

        var SalvarInsercao = function () {
            var nome = $.trim($('#txtNome').val());
            var email = $.trim($('#txtEmail').val());
            var senha = $.trim($('#txtSenha').val());
            var confirmaSenha = $.trim($('#txtConfirmaSenha').val());
            var perfilAcesso = parseInt($('#selectPerfilAcesso').val());

            if (!nome) {
                Msg.error('O campo "Nome" é obrigatório. Favor verificar o preenchimento do mesmo.', 4000);
            }
            else if (!email) {
                Msg.error('O campo "E-mail" é obrigatório. Favor verificar o preenchimento do mesmo.', 4000);
            }
            else if (!senha) {
                Msg.error('O campo "Senha" é obrigatório. Favor verificar o preenchimento do mesmo.', 4000);
            }
            else if (senha != confirmaSenha) {
                Msg.error('As senhas não conferem. Favor verificar.', 4000);
            }
            else if (perfilAcesso == 0) {
                Msg.error('O campo "Perfil de Acesso" é obrigatório. Favor verificar a seleção do mesmo.', 4000);
            }
            else {
                var params = {
                    'nome': nome,
                    'senha': senha,
                    'email': email,
                    'perfilAcesso': { 'id': perfilAcesso, 'nome': $('#selectPerfilAcesso option:selected').text() }
                }

                SRV.ChamarAjax('@Url.Action("Salvar", "Usuario")', params, Salvar_cb);
            }
        };

        var Salvar_cb = function (json) {
            Msg.success('Cadastro efetuado com sucesso', 4000);
            $('#cadastroDeUsuario').modal('hide');
            AtualizarListagem();
        };

        $(document).ready(function () {
            Msg.iconMode = "fa";
            InicializarListagem();
            COLAB.InicializarPropriedades();
        });
    </script>
}